*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
                                                 
.navbar
{   width: 100vw;
    display: flex;
    justify-content: space-between;
     padding: 3vw 3vw 0vw 3vw;
     box-sizing: border-box;
     overflow-x: hidden;
}
.navbar .logo
{   padding-left:7.35vw;
}
.navbar .logo img 
{
    width: 110px  ;
}

.menu_toggler
{
    padding:0px 5.3vw;
    margin-right: 25px;
    margin-top: 6px;
    cursor: pointer;
}
                                                       /* menu slider */


.menu_slider
{   position:fixed;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/cropped-background.jpg);
    display: flex;
    color: white;
    top: 0;  
    left: 0;
    transition-duration: 0.8s;
    transform: translateX(100vw);
    z-index: 1000;
    overflow: scroll;
    overflow-x: hidden;
}
.menu_slider-active
{
    transform: translateX(0vw);
}
.menu_slider_list
{
    width: 275px;
    padding-left: 40px;
}
.menu_heading
{
    margin: 80px 15px;
    font-weight: 600;
    font-size: 20px;
}
.menu_slider_list ul li
{
    list-style: none;
    margin: 65px 20px;
}
.menu_slider_list ul li a
{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    
}
.menu_slider_list ul li a:hover
{
    color: rgb(199, 198, 198);
}
.menu_slider_sociallinks
{
    padding: 50px 15px;
}
.menu_slider_sociallinks img
{
    width: 25px;
    margin-right: 40px;
}
.menu_slider_content
{
    padding: 120px 50px 0px 155px;
}
.menu_slider_content ul
{
    display: grid;
    grid-template-columns: 290px 290px 290px;
    grid-template-rows: 1fr 1fr;
    
}

.menu_slider_content ul li
{
    list-style: none;
    margin: 10px;
}
.menu_slider_content ul li img
{
    width: 100%;
    cursor: pointer;
    transition-duration: 0.5s;

}
.menu_slider_content ul li img:hover
{
  transform:scale(1.10);    
}
.menu_slider_close_img
{
    background-color: white;
    display: inline;
    position: absolute;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    padding: 4px;
    cursor: pointer;
   

}
.menu_slider_close_img img
{
    width: 30px;
    margin: 1px 1px;
   
}
                                                       /* menu slider end */
    
    .menu_toggler ul li
{
    list-style: none;
    
    width: 2.6vw;
    min-width: 27px;
    height: 0.5vw;
    min-height: 4px;
    border-radius: 1px;
    margin: 6px;
    background-color: white;

}


                            /* ....................................<main>............................... */

                                                               
                                                                  /* </our location> */
.Our_Locations
{
 width: 100vw;
 height:max-content;
 background-image: url(../images/cropped-background.jpg);

}
.location_heading
{
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 40px;
}

                                                                     /* swiper slider */
 
.Our_Locations .swiper-container 
    {
     width: 80vw;
    height: 380px;
    padding: 12px;
   
     }
     
     .Our_Locations .swiper-slide
     {  width: 300px; 
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        object-fit: contain;
        padding: 10px;
        
      
     }
     .Our_Locations .swiper-slide img{
         width: 280px;
         border-radius: 10%;
         transition-duration: 0.5s;
     }
     .Our_Locations .swiper-slide img:hover{
         transform: scale(1.10);
     }
    
     .Our_Locations .swiper-slide button
     {
         margin-top: 30px;
         width: 130px;
         height: 40px;
         border: none;
         background-color: rgb(97, 206, 112);
         border-radius: 3px;
         color: white;
         font-size: 18px;
     }                              

                                                         /* <footer> */

     .footer_item
     {
         width: 100vw;
         display: flex;
         flex-wrap: wrap;
         justify-content:center;
         background-color: rgb(90, 2, 76);
         color: white;
         padding-top: 60px;
     }
     .footer_content_box
     {
      width: 25vw;
      height: max-content;
      min-width: 320px;
       margin: 20px 0px;
      display: flex;
      flex-direction: column;
      align-items:center;
     }
     .footer_item .footerlogo img
     {
        width: 290px;
     }
     .about_heading
     {   font-size: 20px;
         margin-bottom: 20px;
         font-weight: 600;
         text-transform: uppercase;
         
     }
     .about_content
     {
         width: 100%;
         height: max-content;
         background-color: rgba(233, 86, 209, 0.112);
         padding: 10px;
         position: relative;
         
     }
     .about_readmore_btn
     {
         border: none;
         color: white;
         background-color: rgba(233, 86, 209, 0.112);
         font-size: 14px;
         font-weight: 600;
         padding: 7px;
         margin-top: 3px;
         position:absolute;
         right: 0%;
         bottom: -35px;

     }
      .contact_heading
      {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .newsletter
      {
          padding-right: 25px;
      }
      

      .newsletter_heading
      {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .newsletter input
      {
          width: 100%;
          height: 45px;
          border: none;
          background-color: rgb(255, 255, 255,0.5);
          margin: 5px;
          color: white;
          padding: 15px;
      }
      .subscribe_btn
      {
        width: 100%;
        height: 45px;
        border: none;
        background-color: rgb(61, 223, 93);
        margin: 5px;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
      }
      .subscribe_btn:hover
      {
          background-color: rgb(172, 172, 172);
      }






     .copyright
     {
         width: 100vw;
         height: 10vh;
         background-color: rgb(90, 2, 76);
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
        align-items: center;
        color: white;
        font-size: 12px;
        padding-left: 20px;
     }
     .contact_link
     {
         width: 30%;
     }
     .contact_link img
     {
      width: 12px;
      margin:0px 6px;
     }
                                                                  /* </footer> */


                                                                  /* media queries */
     

     @media only screen and (max-width:772px)
      {
        .menu_slider_list ul li a
        {
            font-size: 16px;
        }
        .menu_slider_content
        {
           display: none;
          
        }
        .menu_slider_sociallinks
        {
            display: none;
        }
      .copyright{
          justify-content: center;
      }
      .menu_toggler
      {
          margin-top: 10px;
      }
      .newsletter
      {
          padding: 0px;
      }
     }


                                                                  /*pagination animation effects */


      .swiper-pagination-three  .swiper-pagination-bullet
      {
          background-color: rgb(255, 255, 255);
          border: solid white 5px;
          width: 10px;
          height: 10px;
          opacity: 1;
          
      }
      .swiper-pagination-three .swiper-pagination-bullet-active
      {
          background-color:transparent ;
          border: solid white 1px;
          transition-duration: 0.5s;
          background-color:transparent;
      }
      .swiper-pagination-two .swiper-pagination-bullet
      {
          background-color: rgb(255, 255, 255);
          border: solid white 5px;
          width: 10px;
          height: 10px;
          opacity: 1;
          
      }
      .swiper-pagination-two .swiper-pagination-bullet-active
      {
          background-color:transparent ;
          border: solid white 1px;
          transition-duration: 0.5s;
          background-color:transparent;
      }
      .swiper-pagination .swiper-pagination-bullet
      {
          background-color: rgb(255, 255, 255);
          border: solid white 5px;
          width: 10px;
          height: 10px;
          opacity: 1;
          
      }
      .swiper-pagination .swiper-pagination-bullet-active
      {
          background-color:transparent ;
          border: solid white 1px;
          transition-duration: 0.5s;
          background-color:transparent;
      }                                    
                                                                     /* :end */

      
      

     

     



     
     
                  



                                


