*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.accordion-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
}
.accordion
{
    width: 80vw;
     overflow: hidden;
     border: solid rgb(213, 211, 211) 1px;
     
}
.accordion-heading
{   height: 50px;
    padding: 10px;
    color: green;
    width: auto;
    border-bottom: solid rgb(213, 211, 211) 1px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    
}
.accordion-content
{
    height: 0px;
    color: rgb(181, 180, 180);
    overflow: hidden;
    transition: all 0.5s;
}
.active
{ 
   color: rgb(42, 213, 42);
   
    
}
                                          